BOT_KEY=
DB_URL=
ADMIN_PASSWORD=
ADMIN_PASSWORD_HASH=
ADMIN_PASSWORD_SALT=
STORE_ID=
YKASSA_API_KEY=
BOT_LINK=
RELOAD_API_HOST="0.0.0.0"
RELOAD_API_PORT="8000"
RELOAD_API_URL="http://localhost:8000"
BOT_LOG_PATH="bot.log"
